{% extends "modal-box.html" %}

{% block form-start %}
        <form enctype="multipart/form-data" action="/locaties/{{ object.id }}/delete" id="delete" method="post">
        {% csrf_token %}
{% endblock %}

{% block form-end %}
    </form>
{% endblock %}

{% block extra %}
    <script>
            var form_options = { target: '#myModal', success: function(data) {
                if (data.indexOf("body>") > -1) {
                    document.open();
                    document.write(data);
                    document.close();
                }
            } };
            $('#create').ajaxForm(form_options);
    </script>
{% endblock %}