{% extends "modal-box/modal-box.html" %}
{% load bootstrap %}

{% block title %}
    Locatie <b>{{ object.id }}</b>
{% endblock %}

{% block content %}
    {{ object.id }}</br>
    {{ object.name }}</br>
    {{ object.type }}</br>
    {{ object.created_timestamp }}</br>
    {{ object.notes }}
{% endblock %}

{% block footer %}
    <button id="delete" type="button" class="btn btn-danger">Delete</button>
    <button id="edit" type="button" class="btn btn-primary">Edit</button>
    <button type="button" class="btn" data-dismiss="modal">Close</button>
{% endblock %}

{% block extra %}
    <script>
        $( "#edit" ).click(function() {
            var link = '{% url 'edit_location' object.id %}';
            $.get( link, function( data ) {
                $('#formModal').html(data);
                $('#formModal').modal('show');
            });
        });
    </script>
    <script>
        $( "#delete" ).click(function() {
            var link = '{% url 'delete_location' object.id %}';
            $.get( link, function( data ) {
                $('#formModal').html(data);
                $('#formModal').modal('show');
            });
        });
    </script>
{% endblock %}

